/*App*/
body {
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  padding-top: 4%;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px lightsteelblue;
}

h4 {
  text-align: center;
}

img {
  height: 15vh;
}

.App-header {
  padding: 2vh;
  background-color: #4e008e;
  position: relative;
}

.logo {
  height: 11vh;
  margin-left: 20%;
}

.content {
  height: 100%;
  /*padding-bottom: 30px;*/
}

.content .wastelisting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*margin-left: 12%;*/
  margin-right: auto;
  align-items: center;
  /*max-height: 58vh;*/
  /*overflow-y: scroll;
  margin-top: 7px;*/
}

.sortButton {
  font-size: 14px;
  padding: 0px 5px;
  background-color: #f5f7fe;
  border: 1.5px solid #e1e4ee;
  border-radius: 5px;
  margin-left: 4%;
  margin-top: 0.5vh;
  margin-bottom: 1vh;
}

.sortButton p {
  margin: 6px;
  color: black;
}

.wasteButton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  text-wrap: wrap;
  color: black;
}

.waste {
  margin: 5px;
  width: 40%;
  text-align: center;
  flex: 1 calc(50% - 20px);
}

/*Identify waste page*/
h3 {
  text-align: center;
}

.IdentifyWasteImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 22vh;
  border-radius: 10px;
  border: 4px solid #f5f7fe;
  padding: 10px;
  box-shadow: 2px 2px 5px lightsteelblue;
}

.identifyWaste-binny {
  height: 20vh;
}

.circular-sb-identify {
  width: 80vw;
  height: auto;
  background-color: #f5f7fe;
  border: 3px solid #e1e4ee;
  padding: 10% 5%;
  margin-top: 5%;
  margin-left: 5%;
  border-radius: 20%;
  text-align: center;
  font-weight: 700;
  font-family: arial;
}

.circular-sb-identify p {
  display: inline;
}

.binText {
  color: red;
  padding: 0;
  margin: 0;
}

.wasteImage {
  border-radius: 10px;
  border: 2px solid #f5f7fe;
  box-shadow: 2px 2px 3px lightsteelblue;
}

.WasteTittle {
  text-align: center;
}

.ButtonContainer {
  text-align: center;
}

.Yes-button {
  font-size: 24px;
  padding: 10px;
  background-color: #b67eff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  color: black;
}

.No-button {
  margin-right: 5%;
  font-size: 24px;
  padding: 10px;
  background-color: #b67eff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  color: black;
}

.Map {
  float: right;
  margin-right: 12vw;
  margin-top: 9vh;
}

/*Map page*/
h2 {
  text-align: center;
}

.MapPageContent {
  margin: 3%;
}

.FloorButtonsDiv {
  text-align: center;
}

.FloorButton {
  background-color: #b67eff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  font-size: 24px;
  padding: 7px 17px;
  margin: 1.5%;
  color: black;
}

.FloorButton:focus {
  background-color: #9f6fdf;
  color: black;
}

.MapImageContainer {
  margin: 4vh 2vw;
  height: 30vh;
  border: 1px solid black;
}

.MapImage {
  width: 100%;
  height: auto;
}

.BinTypeList {
  margin-top: 3vh;
  margin-left: 4vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.BinType {
  border: 1px solid #e1e4ee;
  box-shadow: 2px 2px 3px lightsteelblue;
  cursor: pointer;
  text-wrap: wrap;
  display: block;
  width: 40vw;
  margin: 0.5vh 2vw;
  padding: 0.6vh 1.5vw;
  background-color: #f5f7fe;
}

.BinType:focus {
  background-color: #e1e4ee;
}

.BinTypeIcon {
  width: 4vw;
  height: auto;
}

.BinTypeText {
  margin-left: 5px;
  display: inline;
  font-size: small;
}

.closeButton {
  background-color: #e1e4ee;
  border: none;
  margin-bottom: 4px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(189, 189, 189);
  padding: 5px 7px;
  cursor: pointer;
  color: black;
}

.DoneButton {
  margin-top: 3vh;
  margin-left: 60%;
  background-color: #b67eff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
  font-size: 24px;
  padding: 10px 15px;
  color: black;
}

/*Information page*/
.infoPageContent {
  margin: 3%;
  text-align: center;
}

.question {
  font-weight: bold;
}

.about {
  position: relative;
  display: block;
  background-color: #e1ccff;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}

.aboutContent {
  display: none;
}
.about:hover .aboutContent {
  display: block;
  padding: 10px;
}
.aboutContent::after {
  content: "";
  display: table;
  clear: both;
}
.aboutContent .infopage-binny {
  float: left;
  max-height: 40%;
}

.icon {
  position: relative;
  display: block;
  align-items: center;
  background-color: #e1ccff;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}
.iconContent {
  display: none;
}
.icon:hover .iconContent {
  display: block;
  padding: 10px;
}
.iconContent::after {
  content: "";
  display: table;
  clear: both;
}
.tutorial {
  max-width: 635px;
}
.binnyLink {
  background-color: #4e008e;
  padding: 5px;
}

.faq {
  position: relative;
  display: block;
  align-items: center;
  background-color: #e1ccff;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}
.faqContent {
  display: none;
}
.faq:hover .faqContent {
  display: block;
  padding: 10px;
}
.faqContent::after {
  content: "";
  display: table;
  clear: both;
}
.socialMediaAndLinks {
  position: relative;
  display: block;
  align-items: center;
  background-color: #e1ccff;
  padding: 10px;
  margin: 10px;
  max-width: 100%;
}
.socialContent {
  display: none;
}
.socialMediaAndLinks:hover .socialContent {
  display: block;
  padding: 10px;
}
.socialContent::after {
  content: "";
  display: table;
  clear: both;
}

.pop-upContent{
  margin-left: 27%;
  margin-right: 27%;
}

li{
  margin:-3px
}

/*Hamburger menu */
.option a:hover {
  /*background-color: #cce6ff;*/
  /*border-radius: 10px;*/
  margin-right: 5px;
}

.active {
  background-color: #cce6ff;
  margin-right: 5px;
}

.nav-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  margin: 0px;
  transition: all 0.5s ease;
  width: 80vw;
  background-color: #d9d9d9;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
  padding: 24px 0px;
}

.nav-options.active {
  top: 0;
  left: 0;
  z-index: 5;
  align-content: center;
  width: 100vw;
  margin: 0px;
  padding: 1px;
  transition: all 0.5s ease;
  background-color: #4e008e;
  box-shadow: 2px 2px 5px gray;
}

.mobile-menu {
  display: block;
  padding-right: 10px;
  margin-left: auto;
}

.menu-icon {
  color: #ffffff;
  position: relative;
  top: 0.5vh;
  left: 7%;
  z-index: 6;
  width: 45px;
  height: 45px;
}

a {
  color: #ffffff;
}

a:visited {
  color: white;
}

/*Footer*/
.TuniLogo {
  width: 80%;
  height: auto;
}

.footer p {
  margin-top: 10px;
}

.footer {
  /*position: fixed;*/
  margin-top: 7%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4e008e;
  color: rgb(255, 255, 255);
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

/*Popup*/
.popUp_card {
  margin-top: 20px;
  border: 1px solid white;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 4;
  left: 0;
}

.box {
  position: relative;
  width: 55%;
  margin: 0 auto;
  height: auto;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  padding: 20px;
  background-color: #f5f7fe;
  border: 2px solid #e1e4ee;
  text-align: "center";
  overflow: auto;
}

.popUp_title {
  color: black;
}

.goHome {
  background-color: #e1e4ee;
  border: none;
  margin-bottom: 4px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgb(189, 189, 189);
  padding: 5px 7px;
  cursor: pointer;
  color: black;
}

/*DESKTOP RESPONSIVE*/
@media only screen and (min-width: 600px) {
  /*Frontpage*/
  img {
    height: 35vh;
  }

  .waste {
    width: calc(25% - 10px);
    margin-bottom: 4vh;
  }

  .content .wastelisting {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .sortButton {
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding: 2px 6px;
  }

  .sortButton p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
  }

  h4 {
    margin-top: 8vh;
    font-size: large;
  }

  /*Identify waste page*/
  h3 {
    margin-top: 3vh;
  }

  .IdentifyWasteImage {
    display: inline-block;
    margin: 5vh 5vw;
    width: 20vw;
    height: auto;
    margin-right: 25vw;
    margin-left: 10vw;
  }

  .circular-sb-identify {
    margin-top: 5vh;
    display: inline-block;
    width: 20vw;
    vertical-align: top;
    padding: 5vh 3vw;
  }

  .ButtonContainer {
    /*display: inline-block;*/
    position: relative;
  }

  .identifyWaste-binny {
    position: absolute;
    height: 15vw;
    bottom: 7vh;
    right: 17vw;
  }

  .No-button {
    margin-right: 5vw;
    color: black;
  }

  /*Map page*/
  .FloorButton {
    padding: 10px 20px;
    margin: 0vh 0.5vw;
    color: black;
  }

  .MapImageContainer {
    margin: 6vh 2vw;
    height: 70vh;
  }

  .BinType {
    width: 15vw;
    margin: 0.5vh 2vw;
    padding: 0.6vh 1.5vw;
  }

  .BinTypeList {
    margin-top: 5vh;
    margin-left: 4vw;
    width: 70vw;
  }

  .BinTypeIcon {
    width: 2vw;
    height: auto;
  }

  .BinTypeText {
    margin: 0px;
    font-size: medium;
    display: block;
  }

  .DoneButton {
    position: absolute;
    top: 135vh;
    right: 5vw;
    color: black;
  }

  /*Hamburger menu*/
  .menu-icon {
    display: none;
  }

  .active {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .nav-options {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    background-color: transparent;
  }

  .option {
    height: auto;
    padding: 0;
    margin-right: 5vw;
  }

  .option a:hover {
    font-size: large;
    color: rgb(219, 174, 255);
    margin-right: 0px;
  }

  .option a:focus {
    font-size: large;
    color: rgb(219, 174, 255);
  }

  /*Header*/
  .header {
    padding-top: 1vh;
  }

  .App-header {
    padding: 4vh;
  }

  .logo {
    height: 17vh;
    margin-left: 40vw;
  }

  /*Footer*/
  .TuniLogo {
    width: 30vw;
    height: auto;
  }
}
