body {
  box-sizing: border-box;
}

.header {
  background-color: #ffffff;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

h4 {
  text-align: center;
}

img {
  height: 15vh;
}

/*.mapIcon {
  height: 5vh;
}*/

.App-header {
  padding: 20px;
  background-color: #4e008e;
}

.logo {
  height: 11vh;
  margin-left: 20%;
}

/*
.binny {
  height: 20vh;
  position: absolute;
  left: 29px;
  bottom: 36px;
}*/

.content {
  height: 100%;
  /*padding-bottom: 30px;*/
}

.content .wastelisting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-right: auto;
  align-items: center;
  max-height: 58vh;
  overflow-y: scroll;
}

h3 {
  margin-left: 5%;
}

.IdentifyWasteImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 22vh;
  border-radius: 10px;
  border: 4px solid #f5f7fe;
  padding: 10px;
  box-shadow: 2px 2px 5px lightsteelblue;
}

.identifyWaste-binny {
  height: 20vh;
  position: absolute;
  left: 33%;
  bottom: 50px;
}

.circular-sb-identify {
  width: 333px;
  height: 110px;
  background-color: #f5f7fe;
  border: 3px solid #e1e4ee;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 30px auto;
  border-radius: 20%;
  text-align: center;
  font-weight: 700;
  font-family: arial;
  position: absolute;
  left: 8%;
  bottom: 22%;
}

.circular-sb-identify p {
  display: inline;
}

.binText {
  color: red;
  padding: 0;
  margin: 0;
}

.wasteImage {
  border-radius: 10px;
  border: 2px solid #f5f7fe;
  box-shadow: 2px 2px 3px lightsteelblue;
}

.WasteTittle {
  text-align: center;
}

.wasteButton {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: inherit;
  text-wrap: nowrap;
}

.Yes-button {
  position: absolute;
  bottom: 10%;
  right: 6%;
  font-size: 24px;
  padding: 10px;
  background-color: #b67eff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}
.No-button {
  position: absolute;
  bottom: 10%;
  left: 6%;
  font-size: 24px;
  padding: 10px;
  background-color: #b67eff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px gray;
}

.Map {
  float: right;
  margin-right: 12vw;
  margin-top: 9vh;
}

.waste {
  margin: 5px;
  width: 40%;
  text-align: center;
}

/* Speech bubble */
/*.circular-sb {
  width: 199px;
  background-color: #fff;
  border: 5px solid black;
  padding: 43px 0px;
  margin: 30px auto;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  font-weight: 900;
  font-family: arial;
  position: absolute;
  right: 31px;
  bottom: 115px;
}

.circle3 {
  border: 5px solid black;
  position: absolute;
  width: 5px;
  padding: 20px;
  border-radius: 50%;
  left: 14px;
  bottom: -8px;
}

.circle3:before {
  content: "";
  position: absolute;
  width: 5px;
  padding: 20px;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  background: #fff;
}

.circle4 {
  border: 5px solid black;
  position: absolute;
  width: 5px;
  padding: 8px 8px;
  border-radius: 50%;
  left: 3px;
  bottom: -15px;
}*/

/*
Hamburger menu */
.option a:hover {
  background-color: #cce6ff;
  border-radius: 10px;
  margin-right: 5px;
}

.active {
  background-color: #cce6ff;
  margin-right: 5px;
}

.nav-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: -100%;
  margin: 0px;
  transition: all 0.5s ease;
  width: 80vw;
  background-color: #d9d9d9;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vw;
  padding: 24px 0px;
}

.nav-options.active {
  top: 0;
  left: 0;
  z-index: 5;
  align-content: center;
  width: 100vw;
  margin: 0px;
  padding: 1px;
  transition: all 0.5s ease;
  background-color: #4e008e;
}

.mobile-menu {
  display: block;
  padding-right: 10px;
  margin-left: auto;
}

.menu-icon {
  color: #ffffff;
  position: absolute;
  top: 110px;
  left: 22px;
  z-index: 6;
  width: 45px;
  height: 45px;
}

a {
  color: #ffffff;
}

.TuniLogo {
  width: 80%;
  height: auto;
}

.footer p {
  margin-top: 10px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4e008e;
  color: rgb(255, 255, 255);
  text-align: center;
  /* padding: 0.5vh; */
}
